<h1> <%= @lesson.name %> </h1>

<p><%= @lesson.content  %> </p>

<p><%= @lesson.next.inspect %> : NEXT NUM </p>
<%= @lesson.number %>
<div>
  <span>
    <a href="/lessons/<%= @lesson.number %>/edit">Edit this lesson</a>
    <a href="/lessons/<%= @lesson.number %>/"
        data-confirm="Are you sure?"
        data-method="delete"
        rel="nofollow"> Delete this lesson</a>
  </span>
  </br></br>
  </br></br>
  <a href="/lessons/">Go back</a>
</div>



