<h1> <%= @lesson.name %> </h1>

<p><%= @lesson.content  %> </p>

<div>
  <span>
    <a href="/lessons/<%= @lesson.number %>/edit">Edit this lesson</a>
    <a href="/lessons/<%= @lesson.number %>/"
        data-confirm="Are you sure?"
        data-method="delete"
        rel="nofollow"> Delete this lesson</a>
  </span>
  </br></br>
   <span><a style="color:red" href="/lessons/<%= @lesson.previous.number %>">PREVIOUS LESSON</a> | <a style="color:red" href="/lessons/<%= @lesson.next.number %>">NEXT LESSON</a> </span>
  </br></br>
  <a href="/lessons/">Go back</a>
</div>



